<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      href="{{url_for('static',filename='styles/create.css') }}"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap"
      rel="stylesheet"
    />

    <style>
    .content {
      width: 1200px;
    }

    .content .main input{
      width: 50%;
      margin: 0 auto;
    }

    </style>

    <meta charset="UTF-8" />
    <title>Easy Route</title>
  </head>

  <body>

    <div class="content">
    <div class="main">

              <div class="title">Easy Route</div>
        <div class="sub-title">Final details</div> <br>

    <form
      action="{{url_for('complete')}}"
      method="POST"
      id="search"
      name="search"
      class="date"
    >
      <label for="date">Day of trip: </label>
      <input type="date" name="date" value="{{date}}" id="date" />
        <br>
      <div class="row">
        <div class="column">
        <label for="start_time">Start at: </label>
        <input
          type="time"
          name="start_time"
          min="00:00"
          max="24:00"
          value="08:00"
          id="start_time"
        />
</div>
        <div class="column">
        <label for="end_time">End at: </label>
        <input
          type="time"
          name="end_time"
          min="00:00"
          max="24:00"
          value="17:00"
          id="end_time"
        />
        </div>
      </div>
        <br>
      <div class="row">
        <div class="column">
          <label for="starting_point">Starting Point</label>
          <select id="starting_point" name="starting_point">
            {% for place in itinerary %}
            <option value="{{place['name']}}">{{place['name']}}</option>

            {% endfor %}
          </select>
        </div>

        <div class="column">
          <label for="ending_point">Ending Point</label>
          <select id="ending_point" name="ending_point">
            {% for place in itinerary %}
            <option value="{{place['name']}}">{{place['name']}}</option>

            {% endfor %}
          </select>
        </div>
      </div>
        <br><br>
        <div class="search">
        <input class="button" type="submit" value="Confirm" name="confirm"/>
        </div>
    </form>


          <div class="error">{{error}}</div>


    </div>


    <div class="sidebar">
      <form action="{{url_for('index')}}" class="module">
          <input type="submit" value="Logout">
      </form>

        <form action="{{url_for('create')}}" class="module" method="GET">
          <input type="submit" value="Reset">
      </form>

    </div>
  </body>
</html>
