<!DOCTYPE html>
<html lang="en">

<head>
  <link href="{{url_for('static',filename='styles/create.css') }}" rel="stylesheet" type="text/css" />
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet" />

  <style>
    .content {
      width: 1000px;
    }

    .main table {
      margin: 0 auto;
    }
  </style>

  <meta charset="UTF-8" />
  <title>Easy Route</title>
</head>

<body>
  <div class="content">
    <div class="main">
      <div class="title">Easy Route</div>
      <div class="sub-title">Create a new itinerary</div>

      <form action="{{url_for('create')}}" method="POST" id="search" name="search">
        <div class="new-entry" action="{{url_for('create')}}" method="POST">

          <input id="query" name="query" placeholder="Search" type="text" value={{ data['query'] }}><br />

          <div class="column">
            <div class="column">
              <label for="dwell_time">Number of Hours</label>
            </div>

            <div class="column">
              <output>{{data["dwell_time"]}}</output><br />
            </div>
            <br />

            <input type="range" id="dwell_time" name="dwell_time" min="0" max="10" step="0.5"
              value="{{data['dwell_time']}}" oninput="this.nextElementSibling.value = this.value" />
          </div>

        </div>

        <div class="column">
          <input type="submit" value="Search" name="search" />
        </div>
      </form>

      <div class="row">
        <div class="column">
          <form action="{{url_for('create')}}" method="POST" id="display_search" name="display_search">
            <h2>Search Results</h2>
            <ul>
              {% for result in query_results %}
              <li>
                <input value="{{result['name'] + ' - ' + result['formatted_address']}}" name="{{result}}"
                  type="submit" />
              </li>
              {% endfor %}
            </ul>
          </form>
        </div>
        <div class="column">
          <form action="{{url_for('complete')}}" method="GET" id="selected_spots" name="selected_spots">
            <h2>Your itinerary</h2>
            <ul>
              {% for place in itinerary %}
              <li>
                {{place['name']}}
              </li>
              {% endfor %}
            </ul>
            <input type="submit" value="Confirm" name="confirm" />
          </form>
        </div>
      </div>

    </div>
    <div class="sidebar">

      <form action="{{url_for('index')}}" class="module">
        <input type="submit" value="Logout">
      </form>

    </div>
</body>

</html>