<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      href="{{url_for('static',filename='styles/create.css') }}"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap"
      rel="stylesheet"
    />

    <meta charset="UTF-8" />
    <title>Easy Route</title>
  </head>

  <body>
    <form
      action="{{url_for('create')}}"
      method="POST"
      id="search"
      name="search"
    >
      <div class="new-entry" action="{{url_for('create')}}" method="POST">
        <input id="query" name="query" placeholder="Search" type="text"
        value={{data['query']}}><br />
        <label for="dwell_time">Number of Hours</label><br />

        <input
          type="range"
          id="dwell_time"
          name="dwell_time"
          min="0"
          max="10"
          step="0.5"
          oninput="this.nextElementSibling.value = this.value"
        />
        <output>6</output><br />
      </div>
      <input type="submit" value="Search" name="search" />
    </form>

    <div class="row">
      <div class="column">
        <form
          action="{{url_for('create')}}"
          method="POST"
          id="display_search"
          name="display_search"
        >
          <h2>Search Results</h2>
          <ul>
            {% for result in query_results %}
            <li>
              <input value="{{result['name'] + ' - ' + result['formatted_address']}}" name="{{result}}" type="submit" />
            </li>
            {% endfor %}
          </ul>
        </form>
      </div>
      <div class="column">
        <form
          action="{{url_for('complete')}}"
          method="POST"
          id="selected_spots"
          name="selected_spots"
        >
          <h2>Your selections</h2>
          <ul>
            {% for selection in selections %}
            <li>
              {{selection['name']}}
            </li>
            {% endfor %}
          </ul>
          <input type="submit" value="Confirm" name="confirm" />
        </form>
      </div>
    </div>
  </body>
</html>
