<!DOCTYPE html>
<html lang="en">
<head>
    <link href="{{url_for('static',filename='styles/create.css') }}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">

    <meta charset="UTF-8">
    <title>Easy Route</title>
</head>

<body>

<form action="{{url_for('create')}}" method="POST">
    <input type="date" name="date" value={{date}}>
    <input type="time" name="start_time" min="00:00" max="24:00" value="08:00">
    <input type="time" name="end_time" min="00:00" max="24:00" value="17:00">


    <div class="row">
        <div class="column">
            <div class="new-entry" action="{{url_for('create')}}" method="POST">
                <input id="query" name="query" placeholder="Search" type="text" value={{data['query']}}><br>
                <label for="dwell_time">Number of Hours</label><br>

                <input type="range" id="dwell_time" name="dwell_time" min="0" max="10" step="0.5" oninput="this.nextElementSibling.value = this.value">
                <output>5</output><br>

<!--                <input type="submit" value="Search">-->

            </div>

            <div class="query-results">
                Hey these are your results.
<!--                <input id="query" name="query" placeholder="Search" type="text" value={{data['query']}}><br>-->
<!--                <label for="dwell_time">Number of Hours</label><br>-->
<!--    -->
<!--                <input type="range" id="dwell_time" name="dwell_time" min="0" max="10" step="0.5" oninput="this.nextElementSibling.value = this.value">-->
<!--                <output>5</output><br>-->
            </div>



        </div>

        <div class="column">Hey this is column 2</div>
    </div>

    <input type="submit" value="Confirm">
</form>

</body>
</html>