<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Easy Route</title>
</head>
<body>
    <p>Welcome to the Easy Route <br> The code running this page can be found <a
            href="https://github.com/usef-kh/easyroute">here</a></p>

    <div class="options">
        <form action="{{url_for('signup')}}" class="signup" method="GET">
            <input type="submit" value="Sign Up">
        </form>

        <form action="{{url_for('login')}}" class="login" method="GET">
            <input type="submit" value="Login">
        </form>
    </div>

</body>
</html>