<!DOCTYPE html>
<html lang="en">

<head>
    <link href="{{url_for('static',filename='styles/index.css') }}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">

    <meta charset="UTF-8">
    <title>Easy Route</title>
</head>

<body>
    <div class="main">

        <div class="title">Easy Route</div>
        <div class="sub-title">Your one-stop-shop for trip planning</div>

        <p>Welcome to the Easy Route <br> The code running this page can be found <a
                href="https://github.com/usef-kh/easyroute">here</a></p>

        <div class="options">
            <form action="{{url_for('signup')}}" class="button" method="GET">
                <input type="submit" value="Sign Up">
            </form>

            <form action="{{url_for('login')}}" class="button" method="GET">
                <input type="submit" value="Login">
            </form>
        </div>
    </div>

</body>

</html>