<!DOCTYPE html>
<html lang="en">
<head>
    <link href="{{url_for('static',filename='styles/index.css') }}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">

    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="main">

    <div class="title">Easy Route</div>
    <div class="sub-title">Create a new user</div>

    <form action="{{url_for('signup')}}" class="form" method="POST">
        <input id="username" name="username" placeholder="Username" type="text" value={{data['username']}}><br>
        <input id="password" name="password" placeholder="Password" type="text" value={{data['password']}}><br>
        <input id="password2" name="password2" placeholder="Confirm Password" type="text" value={{data['password2']}}><br>
        <input id="email" name="email" placeholder="Email" type="text" value={{data['email']}}><br>

        <div class="options">
            <input type="submit" value="Sign Up">
        </div>

    </form>

<div class="error">{{error}}</div>
</div>

</body>
</html>