<!DOCTYPE html>
<html lang="en">
<head>
    <link href="{{url_for('static',filename='styles/styles.css') }}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">


    <style>
    .content {
      width: 1000px;     // Overwrite this from CSS file
    }

    .main table {
    margin: 0 auto; /* or margin: 0 auto 0 auto */
    }
    </style>


    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="content">
    <div class="main">

    <div class="title">Easy Route</div>
    <div class="sub-title">Schedule</div>

    <table cellpadding="1px"cellspacing="20px">
        <tr>
            <th>Name</th>
            <th>Arrival Time</th>
            <th>Departure Time</th>
            <th>Dwell Time</th>
        </tr>


        {% for item in schedule %}
            <tr>
                <td align="center"valign="center">{{item["name"]}}</td>
                <td align="center"valign="center">{{item["arrivingTime"]}}</td>
                <td align="center"valign="center">{{item["leavingTime"]}}</td>
                <td align="center"valign="center">{{item["dwellTime"]}}</td>
            </tr>
        {% endfor %}
    </table>

        <div class="error">{{error}}</div>
    </div>

        <div class="sidebar">

        <form action="{{url_for('index')}}" class="module">
            <input type="submit" value="Logout">
        </form>

        <form action="{{url_for('home')}}" class="module">
            <input type="submit" value="Home">
        </form>

        <form action="{{url_for('create')}}" class="module">
            <input type="submit" value="New Trip">
        </form>

    </div>
</div>

</body>
</html>