* {
    font-family: 'Lato', sans-serif;
}
*:focus {
    outline: 0 !important;
}


body {
    background-color: #59c9fc;
}


a:link, a:visited {
  color: #59c9fc;
  text-decoration: none;
}

a:hover, a:active {
    font-weight: bolder;
}

.main {
    border-radius: 30px;
    margin: 100px auto;
    width: 350px;
    background-color: #fff;
    padding: 60px;
}

.logo {
    background-color: #59c9fc;
    width: 150px;
    height:150px;
    border-radius: 50%;
    margin:0 auto;
    margin-bottom: 10px;
}

.title, .sub-title {
    text-align: center;
    color: #505050;
}

.title {
    font-weight: bolder;
    font-size: 35px;
}

.sub-title {
    font-size: 18px;
}

.form {
    margin-top: 30px;
}

.form input {
    width: 94%;
    font-size: 18px;
    padding: 10px;
    border: none;
    outline: none;
    background: none;
}

#username, #password, #password2, #email {
    display: block;
    border-radius: 30px;
    border: 1px solid rgba(0,0,0,0.2);
    padding: 10px;
}

.error {
    width: 100%;
    color: red;
    text-align: center;
    font-size: 18px;
}


.options {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px 0px;
    margin-bottom: 0px;
}

.options input {
    width: 100%;

    font-size: 16px;
    color: white;

    background-color: #59c9fc;
    padding: 5px 20px;
    border: none;

    border-radius: 30px;
    border: 1px solid rgba(0,0,0,0.2);

}
